<h3>Datos de autoría</h3>
<ul>
  <li>Nombre: Sebastian Ríos Ernst</li>
  <li>Foto: <img src="/foto.jpg" /></li>
  <li>Video: <iframe height="150" src="https://www.youtube.com/embed/6MURV9Yy92U" frameborder="0" allowfullscreen></iframe></li>
</ul>
